<%- include('../partials/header') %>

<h1>Category details</h1>

<div class="category-card">
  <h2><%= category.name %></h2>
  <p><%= category.description %></p>

  <a href="/categories/<%= category.id %>/update">Update</a>
  <form action="" method="POST"><button>Delete</button></form>
</div>

<%- include('../partials/footer') %>
