<%- include('../partials/header') %>

<a href="/categories/add">Add category</a>

<table class="categories-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach((category) => { %>
    <tr>
      <td><%= category.id %></td>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="actions">
        <a class="update-button" href="/categories/<%= category.id %>/update"
          >Update</a
        >
        <form method="post" action="/categories/<%= category.id %>/delete">
          <button class="delete-button" type="submit">Delete</button>
        </form>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../partials/footer') %>
