<%- include('../partials/header') %>

<h1 class="form-title">Update item</h1>
<form class="items-form" action="/items/<%=item.id%>/update" method="POST">
  <div class="form-field">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      required
      value="<%= item.name %>"
    />
  </div>

  <div class="form-field">
    <label for="quantity">Quantity</label>
    <input
      type="number"
      name="quantity"
      id="quantity"
      min="0"
      required
      value="<%= item.quantity %>"
    />
  </div>

  <div class="form-field">
    <label for="unitPrice">Unit Price</label>
    <input
      type="number"
      name="unitPrice"
      id="unitPrice"
      min="0"
      step="0.01"
      required
      value="<%= item.unitprice %>"
    />
  </div>

  <div class="form-field">
    <label for="category">Choose a category</label>
    <select name="categoryId" id="categoryId" required>
      <option value="">Select a category</option>
      <% categories.forEach(category => { %> <% if(category.id ===
      item.categoryid) { %>
      <option selected value="<%= category.id %>"><%= category.name %></option>
      <% } else { %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% } %> <% }); %>
    </select>
  </div>

  <button type="submit">Add</button>
</form>

<%- include('../partials/footer') %>
